cvlib==0.2.5
imageio==2.9.0
imutils==0.5.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.3.0
mtcnn==0.1.0
numpy==1.18.4
opencv-contrib-python==4.2.0.34
opencv-python==4.2.0.34
Pillow==7.1.0
scikit-image==0.17.2
scipy==1.4.1
selenium==3.141.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.4.0
tensorflow-estimator==2.2.0

